[package]
name = "mocks"
version.workspace = true
edition.workspace = true
cairo-version.workspace = true

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet.workspace = true
alexandria_bytes.workspace = true
alexandria_storage.workspace = true
alexandria_data_structures.workspace = true
openzeppelin.workspace = true
contracts = { path = "../contracts" }
token = { path = "../token" }

[dev-dependencies]
snforge_std.workspace = true

[tool]
fmt.workspace = true
scarb.workspace = true

[[target.starknet-contract]]
casm = true

[lib]
name = "mocks"
