---
name: Rust

on:
  push:
  pull_request:

jobs:
  integration_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # selecting a toolchain either by action or manual `rustup` calls should happen
      # before the plugin, as the cache uses the current rustc version as its cache key
      - run: rustup show

      - uses: Swatinem/rust-cache@v2
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.10.1"

      - name: Build contracts
        run: |
          cd cairo && scarb build

      - name: Build the rust code
        run: |
          cd rust && cargo build --release

      - name: Install dojoup
        run: |
          curl -L https://install.dojoengine.org | bash

      - name: Install dojo
        run: |-
          /home/runner/.config/.dojo/bin/dojoup -v 1.1.0
          sudo mv /home/runner/.config/.dojo/bin/katana /usr/local/bin/

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run katana
        run: |
          katana -b 1000 &

      - name: Run evm -> strk test
        run: |
          cd rust && cargo test -- test_mailbox_evm_to_strk

      - name: Kill katana
        run: |
          pkill katana

      - name: run katana
        run: |
          katana -b 1000 &

      - name: Run strk -> evm test
        run: |
          cd rust && cargo test -- test_mailbox_strk_to_evm
