name: tests
on:
  push:
  pull_request:

jobs:
  contracts:
    runs-on: ubuntu-latest
    env: 
      working-directory: ./contracts
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
      - uses: foundry-rs/setup-snfoundry@v3
      - working-directory: ${{ env.working-directory}}
        run: scarb fmt --check
      - working-directory: ${{ env.working-directory}}
        run: scarb build
      - working-directory: ${{ env.working-directory}}
        run: snforge test
      
