name: Format and Build

on:
  push:
    branches:
      - feat-token-extensions
  pull_request:
    branches:
      - feat-token-extensions

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.10.1"
      - run: cd cairo && scarb fmt --check
      - run: cd cairo && scarb build
